@{
    Layout = null;
}
@TemplateForCats.Models.ArticleModel



<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <title>Objectivity</title>
</head>
<body>

    <div id="left">
        
        <img src="~/Content/cat.jpg" width="100%" alt="The Cat">
        <h2> Test Template Blog For Cat </h2>

        <div id="menu">
            <ul>
                <li><a href="#"><span> All Posts</span></a></li>
                <li><a href="#"><span> About Cat</span></a></li>
                <li><a href="#"><span> Contact Us</span></a></li>
            </ul>
        </div>

        <div class="search">
            <input type="text" value="Search:">/>
            <button> Go </button>
        </div>

        <div>
            <h2>
                Resent Posts: <h2>
                    <ul class="post-warp">
                        <li>
                            <p class="date">18:46 04.01.2015</p>
                            <p class="post"> <a href="#"> Post Title Post Title Post Title Post Title Post Title Post Title Post Title  </a> </p>
                        </li>
                        <li>
                            <p class="date">18:46 04.01.2015</p>
                            <p class="post"> <a href="#"> Post Title Post Title Post Title Post Title Post Title Post Title Post Title</a> </p>
                        </li>
                        <li>
                            <p class="date">18:46 04.01.2015</p>
                            <p class="post"> <a href="#"> Post Title Post Title Post Title Post Title Post Title Post Title Post Title</a> </p>
                        </li>
                        <li>
                            <p class="date">18:46 04.01.2015</p>
                            <p class="post"> <a href="#"> Post Title Post Title Post Title Post Title Post Title Post Title Post Title</a> </p>
                        </li>
        </div>

        <div>
            <h2>
                Resent Comments: <h2>
                    <ul class="post-warp">
                        <li>
                            <p class="date">18:46 04.01.2015</p>
                            <p class="comment"> <a href="#"> Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments </a> </p>
                        </li>
                        <li>
                            <p class="date">18:46 04.01.2015</p>
                            <p class="comment"> <a href="#"> Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments </a> </p>
                        </li>
                        <li>
                            <p class="date">18:46 04.01.2015</p>
                            <p class="comment"> <a href="#"> Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments </a> </p>
                        </li>

        </div>
    </div>

    <div id="right">
        <div class="article">
            <h3> New Text Title </h3>
            <p class="date"> <span> 04.01.2015 </span> <span> 18:46 </span> </p>


            <div class="textfield">
                
                @Html.Raw(Model.Body)
              </div>
        </div>


        <div class="other posts">
            <p align="center"> <a href="#"> Click here to see all posts </a> </p>
        </div>


        <div class="fullcomments">
            <h2>
                Comments: <h2>

                    <ul>
                        <li>
                            <div class="avatar"> <img src="~/Content/cat2.jpg" alt="Avatar"> </div>
                            <div class="textcomment">
                                <p> Name </p>
                                <p class="date"> 21:14 04.01.2015</p>
                                <p> Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments </p>

                            </div>
                        </li>


                        <li>
                            <div class="avatar">
                                <img src="~/Content/cat2.jpg" alt="Avatar">
                            </div>
                            <div class="textcomment">
                                <p> Name </p>
                                <p class="date">21:14 04.01.2015 </p>
                                <p> Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments </p>

                            </div>
                        </li>
                        <li>
                            <div class="avatar"> <img src="~/Content/cat2.jpg" alt="Avatar"> </div>
                            <div class="textcomment">
                                <p> Name </p>
                                <p class="date"> 21:14 04.01.2015 </p>
                                <p> Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments Comments </p>

                            </div>
                        </li>

                    </ul>
        </div>

        <div class="yourcom">
            <input type="text" value="Your comment:">/>
            <button> Submit </button>
            <button> Cansel </button>
        </div>


    </div>


</body>
</html>